<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" shutdownHook="disable">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] [%logger{36}] : %msg%n%ex" charset="UTF-8"/>
      <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
    </Console>
    <Console name="stderr" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] [%logger{36}] : %msg%n%ex" charset="UTF-8"/>
      <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
    </Console>
  </Appenders>
	<Loggers>
		<Root level="info">
      <AppenderRef ref="stdout"/>
      <AppenderRef ref="stderr"/>
		</Root>
	</Loggers>
</Configuration>